################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppRun/bin/Debug
/AppRun/obj/Debug
